@import "tailwindcss";

@layer theme {
  :root, :host {
   --spacing: 4px;
  }
}

@layer base {
   #root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      min-width: 320px;
   }

   .material-icons .md-12 {
      font-size: 12px;
   }

   .material-icons .md-14 {
      font-size: 14px;
   }

   .material-icons .md-16 {
      font-size: 16px;
   }

   .material-icons .md-24 {
      font-size: 24px;
   }
}