*, :after, :before, ::backdrop, ::file-selector-button {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Segoe UI", sans-serif,
  font-size: 14px;
  font-weight: 400;
  line-height: 1.65;
  color: #444;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eee;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

button {
  display: inline-flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type=text] {
  background-color: #fff !important;
  border: 1px solid #aaa;
  &:focus {
    outline: none;
    border: 1px solid #555;
  }
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}


